<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h4>Lugares  <a  class="text-info" routerLink="/crear-lugar">Crear lugar</a></h4> 
            <ul class="list-group my-4">
                <span *ngIf="numbers?.length == 0">Sin lugares registrados</span>
                <ng-container *ngFor="let number of numbers; let i = index">
                        <li class="list-group-item py-0 pt-3" *ngIf="number.pay == 'gratuito'">
                            <a routerLink="/detalle/{{number.id}}" [queryParams]="{action:'test', view:true}">
                                {{number.name}}                
                            </a>
                            <p [ngSwitch]="number.near">   
                                <span *ngSwitchCase="1" [ngStyle]="{'color': 'green'}">
                                    Muy cercano
                                </span>
                                <span *ngSwitchCase="2" [ngStyle]="{'color': 'black'}">
                                    Cercano
                                </span>
                                <span *ngSwitchCase="3" [ngStyle]="{'color': 'red'}">
                                    Lejos
                                </span>
                                - {{number.pay}}
                            </p>
                            <a  routerLink="/lugar/{{number.id}}/editar" class="btn btn-warning btn-sm">Editar</a>                            
                            <button class="btn btn-danger btn-sm" (click)="deletePlace(number.id)" *ngIf="btnDelete"> Eliminar </button>
                            <br/>  <br/>
                        </li>
                </ng-container>
            </ul> 
        </div>
        <div class="col-md-6">
            <h4>Destacados</h4>
            <ul class="list-group my-4">
                    <span *ngIf="numbers?.length == 0">Sin lugares registrados</span>
                    <ng-container *ngFor="let number of numbers; let i = index">
                            <li class="list-group-item py-0 pt-3" *ngIf="number.pay == 'pagado'">
                                <a routerLink="/detalle/{{number.id}}" [queryParams]="{action:'test', view:true}">
                                    {{number.name}}                
                                </a>
                                <p [ngSwitch]="number.near">   
                                    <span *ngSwitchCase="1" [ngStyle]="{'color': 'green'}">
                                        Muy cercano
                                    </span>
                                    <span *ngSwitchCase="2" [ngStyle]="{'color': 'black'}">
                                        Cercano
                                    </span>
                                    <span *ngSwitchCase="3" [ngStyle]="{'color': 'red'}">
                                        Lejos
                                    </span>
                                    - {{number.pay}}
                                </p>
                                <a  routerLink="/lugar/{{number.id}}/editar" class="btn btn-warning btn-sm">Editar</a>                            
                                <button class="btn btn-danger btn-sm" (click)="deletePlace(number.id)" *ngIf="btnDelete"> Eliminar </button>
                                <br/>  <br/>
                            </li>
                    </ng-container>
                </ul> 
        </div>
    </div>
</div>
