<div class="container">
        <div class="row">
         <div class="col-md-12 my-5">
                <div class="breadcrumb mt-4"><a routerLink="/">Home</a> &nbsp;/ Contacto</div>
             
             <h4>Envianos tus comentarios</h4>
             <div class="form-group">
                 <label for="email">Email</label>
                 <input type="email" class="form-control" id="email" placeholder="Email">
                 <small id="emailHelp" class="form-text text-muted">Usa el email que mas uses.</small>
             </div>
             <div class="form-group">
                 <label for="name">Nombre</label>
                 <input type="text" class="form-control" id="name" placeholder="Nombre"> 
             </div>
             <div class="form-group">
                 <label for="comment">Comentario</label>
                 <textarea name="comment" id="comment" rows="8"  class="form-control" placeholder="Escribenos tus comentarios"></textarea>
             </div>
             <hr>
             <button class="btn btn-primary">Enviar</button>
             <a class="btn btn-secondary" routerLink="/" >Cancelar</a>
         </div>
        </div>
     </div>